      <nav>
            <div class="container">
                <h2 class="logo">SRj Social</h2>
                <div class="search-bar">
                    <i class="uil uil-search"></i>
                    <input class="searchbar"
                    type="search"
                    placeholder="Search for creators, inspirations and projects"/>
                </div>
                <div class="create"> 
                    <!-- added -->
    <!-- <input type="checkbox" id="create-post" style="display: none;"> -->
    <!-- <label class="btn btn-primary" for="create-post" id="create-post">Create Post</label> -->
<form method="GET" action="/posts/new">    
    <button type="submit" class="btn btn-primary" id="create-post">Create Post</button>
<!-- type = submit to redirect to new.ejs
     type = button to pop up    -->
</form>    
    <!-- <div id="upload-form-container" class="upload-form-container"></div> -->
      <!-- Button Added -->
      <!-- <button id="addStoryButton">Add Story</button> -->
      <button class="add-story-btn" onclick="document.getElementById('fileInput').click();">+ Add Story</button>
      <input type="file" id="fileInput" accept="image/*,video/*" style="display: none;" onchange="addStory(event)">

      <!-- End -->
                    
                    <!-- end -->
                    <!-- <button class="profile-btn" id="profileButton"> -->

<!-- Working -->
                    <!-- <div class="profile-pic">
                        <img 
                            src="<%= currentUser && currentUser.profile_image ? '/uploads/' + currentUser.profile_image : '/uploads/default-profile.png' %>" 
                            alt="Profile Image" 
                            style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;"
                        >

                    </div> -->

    <!-- Working END -->
                        <div class="profile-pic" id="goToProfileUpload" style="cursor: pointer;">
                            <img src="/uploads/<%= user.profile_image %>" alt="Profile Image">
                        </div>




                    <!-- </button> -->
                    <!-- <button onclick="goToSaved()">Go to Saved Posts</button> -->
                    <!-- <button class="btn btn-primary" id="signout-button" >Sign Out</button> -->
                     
                      <!-- other nav items -->
  
                        <% if (currentUser) { %>
                            <form action="/logout" method="GET" style="display: inline;">
                            <button class="btn btn-primary">Sign Out</button>
                            </form>
                        <% } else { %>
                            <a href="/auth" class="btn btn-outline-primary">Login / Signup</a>
                        <% } %>
                </div>
            </div>
      </nav>